<!-- templates/chat/chat_index.html -->
{% extends "chatbase.html" %}

{% block title %}PaleoGPT{% endblock %}

{% block content %}
<h2>PaleoGPT</h2>
<h4>{{userobj.username}}</h4>
<div class="container d-flex flex-column vh-90">
    <div class="row top py-3">
        <!-- Folder Section - Top Left -->
        <div class="col-md-4">
            <div class="folder-section">
                <!-- Tree-like structure for folders -->
                <div class="folder-tree">
                    <!-- Dynamically populated folder tree -->
                </div>
            </div>
        </div>

        <!-- Paper List - Top Right -->
        <div class="col-md-8">
            <div class="paper-list">
                <!-- Dynamically populated list of papers -->
            </div>
        </div>
    </div>

    <!-- Chat Section - Bottom -->
    <div class="row flex-grow-1 overflow-auto">
        <div class="col-12">
            <div class="dialog-section">
            </div>
        </div>
    </div>
    <div class="row py-3">
        <div>
            <div class="chat-section">
                <!-- Chat UI -->
                <table class="table"><tr><td><textarea rows="3" id="messageInput" class="col-12"></textarea></td><td><button onclick="sendMessage()">Send</button></td></tr></table>
            </div>
        </div>
    </div>
</div>  
<script>
if(window.attachEvent) {
    window.attachEvent('onload', on_load_function);
} else {
    if(window.onload) {
        var curronload = window.onload;
        var newonload = function(evt) {
            curronload(evt);
            on_load_function(evt);
        };
        window.onload = newonload;
    } else {
        window.onload = on_load_function;
    }
}
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function on_load_function(){
    // get tree structure from server /chat/collection_tree via ajax
    fetch("/chat/collection_tree", {
        method: "GET",
        headers: {
            "X-CSRFToken": getCookie("csrftoken"), // Handle CSRF token
            "Content-Type": "application/json"
        }
    }).then(response => response.json())
    .then(data => {
        // Update tree with new data
        updateTree(data);
    });
}
function updateTree(tree_data, parentElement= document.querySelector(".folder-tree")){

    //console.log(tree_data);

    for (let i = 0; i < tree_data['children'].length; i++){
        //console.log(tree_data['children'][i]);
        let folder = tree_data['children'][i];
        let folderName = folder["name"];
        let folderId = folder["key"];
        let folderParent = folder["parent_key"];
        let folderChildren = folder["children"];
        let folderElement = document.createElement("div");
        let folderElementEnvelope = document.createElement("div");
        folderElementEnvelope.setAttribute("class", "node-envelope");
        folderElementEnvelope.appendChild(folderElement);
        folderElement.classList.add("folder");
        folderElement.setAttribute("id", folderId);
        folderElement.setAttribute("class", "node");
        folderElement.setAttribute("parent_key", folderParent);
        let oddeven = "odd-row";
        if( i % 2 == 0 )
            oddeven = "even-row";
        folderElement.classList.add(oddeven);
        if (folderParent == null){
            folderElement.setAttribute("style", "display: block;");
        } else {
            folderElement.setAttribute("style", "display: none;");
        }
        //folderElement.setAttribute("onclick", "folderClicked(this)");
        folderElement.addEventListener('click', function(event) {folderClicked(this, event);});
        folderElement.innerHTML = folderName; // + " (" + folderId + ")";
        parentElement.appendChild(folderElementEnvelope);
        if (folderChildren.length > 0){
            updateTree(folder, folderElementEnvelope);
        }
    }
}
function folderClicked(folder,event){
    event.stopPropagation();
    // get folder id from folder element
    let folderId = folder.getAttribute("id");
    //console.log("clicked:",folderId);
    // get folder name from folder element
    let folderName = folder.innerHTML;
    // get folder parent from folder element
    let folderParent = folder.getAttribute("parent");
    // get folder children from folder element
    let folderChildren = folder.getAttribute("children");
    // get child elements of folder element
    let folderChildElements = folder.parentElement.children;
    // show or hide child elements of folder element
    //console.log(folder.parentElement.children);
    for (let i = 1; i < folderChildElements.length; i++){
        //console.log(folderChildElements[i]);
        if (folderChildElements[i].children[0].style.display == "none"){
            folderChildElements[i].children[0].style.display = "block";
        } else {
            folderChildElements[i].children[0].style.display = "none";
        }
    }

    // Remove the highlighting from all divs
    document.querySelectorAll('.node').forEach(div => {
        //console.log(div.innerHTML, div.classList);
        div.classList.remove('highlighted');
        //console.log(div.innerHTML, div.classList);
    });

    // Highlight the clicked div
    folder.classList.add('highlighted');
    //console.log(folder.innerHTML, folder.classList);

    // get folder papers from server /chat/folder_papers via ajax
    fetch("/chat/item_list/"+folderId, {
        method: "GET",
        headers: {
            "X-CSRFToken": getCookie("csrftoken"), // Handle CSRF token
            "Content-Type": "application/json"
        },
    }).then(response => response.json())
    .then(data => {
        // Update paper list with new data
        updatePaperList(data);
    });
}
function updatePaperList(paper_data){
    //console.log(paper_data);
    document.querySelector(".paper-list").innerHTML = "";
    for (let i = 0; i < paper_data['children'].length; i++){
        //console.log(paper_data['children'][i]);
        let bgcolor = "#ffffff";
        if( i % 2 == 0 )
            bgcolor = "#f0f0f0";
        let paper = paper_data['children'][i];
        let paperName = paper["name"];
        let paperId = paper["key"];
        let paperParent = paper["parent"];
        let paperElement = document.createElement("div");
        let paperChildren = paper.children;
        paperElement.classList.add("paper");
        paperElement.setAttribute("id", paperId);
        let oddeven = "odd-row";
        if( i % 2 == 0 )
            oddeven = "even-row";
        paperElement.classList.add(oddeven);
        paperElement.setAttribute("parent", paperParent);
        paperElement.setAttribute("onclick", "paperClicked(this)");
        paperElement.innerHTML = paperName;
        for( j = 0 ; j < paperChildren.length ; j++ ) {
            //console.log(paperChildren[j]["key"],paperChildren[j]["itemType"], paperChildren[j]["name"]);
            if( paperChildren[j]["itemType"] == "attachment" && paperChildren[j]["contentType"] == "application/pdf") {
                paperElement.innerHTML += " <a href='/chat/download/"+paperChildren[j]["key"]+"'>PDF</a><br>";
            }
        }
        document.querySelector(".paper-list").appendChild(paperElement);
    }
}

function paperClicked(paper){
    //console.log("clicked:",paper.innerHTML)
    paperId = paper.getAttribute("id");
    paper_list = document.querySelector(".paper-list").children;
    for( i = 0 ; i < paper_list.length ; i++ ) {
        paper_list[i].classList.remove("highlighted");
    }
    paper.classList.add("highlighted");
    // /chat/item_check/<item_id>
    fetch("/chat/item_check/"+paperId, {
        method: "GET",
        headers: {
            "X-CSRFToken": getCookie("csrftoken"), // Handle CSRF token
            "Content-Type": "application/json"
        },
    }).then(response => response.json())
    .then(data => {
        console.log(data);
        //updateDialog(data);
    });
}
</script>
{% endblock %}
